.character{
    background-image: linear-gradient(to bottom, #0e87ff, #05325f);
    height: 20rem;
    width: 30rem;
    border-style: solid;
    border-color: #d6bf7c;
    padding : 1.2rem;
    display: flex;
    margin: 0.6rem;
    flex-wrap: wrap;
    border-radius: 10px;
    align-items: center; 
    justify-content: center; 
    box-shadow: 4px 4px 4px 1px #96969662;
}

.character h2 {
    color: $color-2;
    margin: 0px auto ;
    width: 65%;
    transform: translate(+15%,-50%);
    text-shadow: 2px 2px 3px rgb(14, 1, 1);

}

.pix {
    background: $color-2;
    height: 10rem;
    width: 30%;
    border-radius: 10px;
    border-style: solid;
    border-color: #d6bf7c;
}
.character p{
    margin: 5px 5px;
    color: $color-2;

}

.photo {
    width: 100%;
    height: 100%;
    border-style: solid;
}

@media screen and (max-width: 500px) {
    .character{
        width: 18rem;
        display: block;
        height: auto;

       
    }

    .pix{
        height: 9.5rem;
        width: 50%;
        margin: 10px auto;

    }

    .character p {
    

    }


.character h2 {
    text-align: center;
    margin-top: 15px;
    margin-left : 15px;
    margin-right: 0px;
    
}

}
  .characters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
