.lounge {
    background-image: linear-gradient(to bottom, #051937, #004b76, #0085a9, #00c2c5, #00ffc6);
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* alignement verticalement*/
    justify-content: center; /* centrer horizontalement */
}

.lounge h1 {
    margin : 20px;
}

.centeredText {
    text-align: center;
}