.lounge {
    background: $color-3;
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* alignement verticalement*/
    justify-content: center; /* centrer horizontalement */
}

.lounge h1 {
    margin : 20px;
}