.lounge {
    background-image: linear-gradient(to bottom, #051937, #004b76, #0085a9, #00c2c5, #00ffc6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    min-height: 100vh;
    border: 3px solid #d6bf7c;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
 padding-top: 30px;

}

.lounge h1 {
    margin : 10px;
}

.centeredText {
    text-align: center;
    
    margin-top: 20px;
    margin-bottom: 15px;
}

.centeredBloc{
    background-color: black;
    display : flex;
    justify-content: center;
}