.character{
    background: $color-1;
    height: 20rem;
    width: 35rem;
    border-style: solid;
    border-color: #d6bf7c;
    padding : 1.2rem;
    display: flex;
    margin: 0.6rem;
    flex-wrap: wrap;
    border-radius: 10px;
    align-items: center; /* alignement verticalement*/
    justify-content: center; /* centrer horizontalement */
    box-shadow: 5px 9px 9px 2px #12121262;
}

.character h2 {
    color: $color-2;
    margin: 5px 5px ;
    width: 65%;
    transform: translate(+15%,-50%);
    text-shadow: 2px 2px 3px rgb(14, 1, 1);

}

.pix {
    background: $color-2;
    height: 10rem;
    width: 25%;
    border-radius: 10px;
    border-style: solid;
    border-color: #d6bf7c;


}
.character span{
    margin: 5px 5px;
    color: $color-2;

}